<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Drinks</title>
  </head>
  <body style="background-color: #a7e6d7">
    <div
      style="
        padding: 10px 10px;
        background-color: black;
        border-radius: 0 0 10px 10px;
        position: sticky;
        top: 0;
        margin-bottom: 30px;
        cursor: pointer;
        z-index: 100;
        display: flex;
        align-items: center;
      "
    >
      <h1 style="color: white" [routerLink]="'/home/'">Drinks</h1>
      <button
        [routerLink]="'/orders/'"
        class="btn btn-outline-light mb-3"
        style="margin-left: auto"
      >
        Carrello
      </button>
    </div>
    <div class="container" style="z-index: 0">
      <div class="col-auto">
        <div class="card" style="width: 14rem; margin: 0 auto 40px auto">
          <img
            class="card-img-top"
            src="{{ ingredientImg }}"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">{{ ingredient }}</h5>
          </div>
        </div>
      </div>

      <hr style="margin-bottom: 30px" />

      <div
        class="row"
        style="justify-content: center; align-items: center"
        *ngIf="drinks"
      >
        <div class="col-auto p-2" *ngFor="let drink of drinks">
          <div class="card" style="width: 14rem; margin-bottom: 40px">
            <img
              class="card-img-top"
              [src]="drink.strDrinkThumb ? drink.strDrinkThumb : ''"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">{{ drink.strDrink }}</h5>
              <p class="card-text" style="font-size: 13px">
                {{ drink.strCategory }}
              </p>
              <button
                [routerLink]="'/drink/' + drink.idDrink"
                class="btn btn-primary"
              >
                Dettagli
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
